body {
    background-color: #F2F2F2;
    font-family: "Inter", sans-serif;
    font-style: normal;
    width: 100%;
    margin: 0;
}
.navigation-bar {
    display: flex;
    justify-content: space-between;
    padding: 16px 24px;
}

.left .university {
    color: #262626;
    font-size: 12px;
    font-weight: 400;
}

.left {
    display: flex;
    gap: 18px;
    align-items: center;
}

.left .bullet {
    background-color: #80D7D9;
    width: 20px;
    height: 20px;
    border-radius: 100%;
}

.left .name {
    font-size: 16px;
    font-weight: 600;
}

.right .menu {
    list-style-type: none;
    display: flex;
    gap: 24px;
}

.right .menu-divider {
    width: 1px;
    height: 18px;
    background-color: #000000;
}

.content {
    display: flex;
    gap: 30px;
    align-items: center;
    padding-left: 500px;
    padding-top: 134px;
    
}

.content img {
    border-radius: 100%;
    width: 380px;
    height: 380px;

}

.intro {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 430px;
    height: 260px;
    padding-top: 64px;
}

.intro .name {
    font-size: 40px;
    font-weight: 600;
    color: #262626;
}

.intro .a-bit {
    font-size: 20px;
    font-weight: 600;
    color: #262626;
}

.intro .description {
    font-size: 15px;
    font-weight: 300;
    color: #616161;
}

.text-right {
    display: flex;
    flex-direction: column;
}

.content .menu1 {
    background-color: #BADA55;
    color: black;
    font-size: 18px;
    font-weight: 600;
    border-radius: 100%;
    border-color: #666;
    border:solid 1px;
    width: 90px; height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu2 {
    background-color: #EDA202;
    color: black;
    font-size: 18px;
    font-weight: 600;
    border-radius: 100%;
    border-color: #666;
    border: solid 1px;
    width: 90px; height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu3 {
    background-color: #80D7D9;
    color: black;
    font-size: 18px;
    font-weight: 600;
    border-radius: 100%;
    border-color: #666;
    border:solid 1px;
    width: 90px; height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu4 {
    background-color: #C7C7C7;
    color: black;
    font-size: 18px;
    font-weight: 600;
    border-radius: 100%;
    border-color: #666;
    border: solid 1px;
    width: 90px; height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.circle {
    display: flex;
    gap: 10px;
    
}
.bottom-bar {
    display: flex;
    gap: 300px;
    position: fixed;
    bottom: 16px;
    left: 24px;
}
.bottom-left {
    display: flex;
    flex-direction: column;
}
.bottom-bar .head {
    font-size: 14px;
    font-weight: 600;
}

.bottom-bar .contact {
    font-size: 14px;
    font-weight: 300;
    color: black;
}

a {
    color: #000000;
}

